/* body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8E44AD, #3498DB);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.color_picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input[type="color"] {
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

input[type="color"]:hover {
    transform: scale(1.2);
}

.color-code {
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.output {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
} */


/* Project-3 */


/* 
body {
    height: 100vh;
    background-color: rgb(37, 36, 36);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 40px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: aliceblue;
    background-color: rgb(47, 39, 39);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 2px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: none;
    background-color: rgb(58, 49, 49);
    color: antiquewhite;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(35, 29, 29);
}

button:active {
    background-color: rgb(35, 29, 29);
}

.operator-btn {
    background-color: rgb(255, 162, 0);
}

.operator-btn:hover {
    background-color: rgb(212, 174, 49);
}

.operator-btn:active {
    background-color: rgb(212, 174, 49);
} */